- Breakout Module to Breadboard-Friendly Form Factor
  - Should use the same 2x4 .1" spaced connector (just the female side)

- Connect CH_PD to 3v3 rail

- Add 5v to 3v3 regulator
  - Add jumper to apply 3v3 directly or push 5v through 3v3 LDO
 
- Add jumper for voltage divider / Mosfet for tx step down to 3v3

- Button to connect Reset and GPIO 0 to ground (separately)
  - Use a standard tactile switch

- Label Board: ESP8266-01 Development Board