- Auto Addressing functionality
 -Use the CD74HC283M96 4 Bit adder to automatically address the boards

- DIP Socket for china-based Arduino Nanos

- Output 3 connections that connect to ground for auto-address

- 3.3 volt regulator for ESP8266 that is rated for 200mA

- Nice spot for board-to-board connectors

- Rounded edges (for fanciness)

- Dual Nano setup to reduce flutter on POV for I2C driver?
  - Main nano is I2C drive, and it pings an aux nano over I2C which talks to the ESP8266 module