- Auto Addressing functionality
 -Use the CD74HC283M96 4 Bit adder to automatically address the boards

- DIP Socket for china-based Arduino Nanos

- Output 3 connections that connect to ground for auto-address

- 3.3 volt regulator for ESP8266 that is rated for 200mA

- Nice spot for board-to-board connectors

- Rounded edges (for fanciness)

/*
- Dual Nano setup to reduce flutter on POV for I2C driver?
  - Main nano is I2C drive, and it pings an aux nano over I2C which talks to the ESP8266 module
*/
  
/*
- Need to push reset for ESP module while programming (internally) (this will likely change when/if ESP is moved to a software serial port, this will be removed accordingly)
*/

- Breakout Arduino Reset (externally)

- Indication LEDs
  - Specific (blue) one to indicate WiFi connectivity. Should be designed to be viewed from outside the case (light pipe?)
  - ESP Error LEDs
	- No internet connection
	- No website found (eg, 404, 401 errors)
  - Arduino Error LED
    - Misc error

